<main class="container">
  <form class="example-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1>Log in to App</h1>
    <mat-form-field class="example-full-width">
      <mat-label>Email:</mat-label>
      <input matInput placeholder="Email" type="email" formControlName="email">
      @if (form.controls.email.invalid) {
        <mat-error>Email is required.</mat-error>
      }
      @if (form.controls.email.getError('email')) {
        <mat-error>Email must have valid format.</mat-error>
      }
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Password:</mat-label>
      <input matInput placeholder="Password" type="password" formControlName="password">
      @if (form.controls.password.getError('required')) {
        <mat-error>Password is required.</mat-error>
      }
      @else if (form.controls.password.getError('pattern')) {
        <mat-error>Password must be 8 to 20 characters.</mat-error>
      }
    </mat-form-field>

  <div class="row">
    <button [disabled]="form.invalid && form.touched" type="submit" mat-flat-button color="primary">Primary</button>  
  </div>
  </form>
</main>
